{% extends "resourcy/base.html" %}

{% load widget_tweaks %}

{% block body_block %}
<h1>Login</h1>
<form method="post" action="." class="col-md-8">
    {% csrf_token %}
    <div class="form-group">
    {% render_field form.username class="form-control" placeholder=form.username.label %}
    </div>
    <div class="form-group">
    {% render_field form.password class="form-control" placeholder=form.password.label %}
    </div>
    <input type="submit" class="btn btn-primary" value="Log in" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>
Not a member?
<a href="{% url 'registration_register' %}">Register</a>
</p>
{% endblock %}
