{% extends 'rango/base.html' %}

{% block body_block %}
<h1>Change your Password</h1>
<p>{{ user.get_username }}, if you would like to change your password please proceed with the steps below.</p>
<ul>
    <li><p>Enter your current password in the old password box.</p></li>
    <li><p>Enter your new password in the new password box.</p></li>
    <li><p>Confirm your new password in the password confirmation box.</p></li>
</ul>
<form methon="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
