{% extends 'resourcy/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div>
    <h2>About Resourcy</h2>
    <hr>
</div>
<p>Have you ever found yourself in a position where you have no idea what to do next or where to go next.</p></br>
<p>Well I have been there multiple times since I started self-learning how to program. It's been a challenging but rewarding endeavour and I appreciate the challenges I have faced since they have made the experience all the more worthwhile.</p></br>
<p>However, there are some aspects of the journey that could be made easier. This is the essence of this project.</p></br>
<p>Have you ever come across a link that changed your whole perspective. If you're like me the first thing you thought was I'd better bookmark this so that I don't forget. Well you'll never forget the link, but how many times do you actually revisit your bookmarks. How many bookmarks do you have that have been gathering dust over the years, seldom visited but impeccably stored. Now imagine what those links could do for someone who was looking for that exact information. If they could have access to those mind altering links that you possess. That's where resourcy comes in.</p></br>
<p>Resourcy aims to make it easy to find resources by having people present what they deem is important to them and having other people benefit from their perspective. Think of it as a public bookmarks that you can share with other ineviduals.</p></br>
<p>The internet is too vast for any one person to have all the information. There is always something that you know that someone else is desperately looking for and something that you've been searching for that someone else knows.</p></br>
<p><strong>Let's pass the sauce</strong></p>
</div>
{% endblock %}
