{% extends 'resourcy/base.html' %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block body_block %}
    <h1>Add a Category</h1>
    <div>
        <form id="category_form" class="col-md-8" method="post" action="/resourcy/add_category/">
            {% csrf_token %}
            <div class="form-group">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {% comment %}{{ field.help_text }}
                {{ field }}{% endcomment %}
                {% render_field field class="form-control" placeholder=form.name.help_text %}
            {% endfor %}
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="Create Category" />
        </form>
    </div>
{% endblock %}
