<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load resourcy_template_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
                                    initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'images/resourcy-favicon.ico' %}">
        <title>
            Resourcy - {% block title %}Pass the sauce will you{% endblock %}
        </title>
        <!-- Bootstrap core CSS -->
        <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css"
              rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href=
            "https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css"
              rel="stylesheet">
        <!-- My own CSS files -->
        <link rel="stylesheet" type="text/css" href="{% static 'resourcy/css/style.css' %}" />
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <div class="container-fluid wide">
            <div class="navbar-header text-left">
            <button type="button" class="navbar-toggler hidden-sm-up"
                    data-toggle="collapse" data-target="#navbarNav"
                    aria-expanded="false" aria-controls="navbarNav"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Resourcy</a>
            </div>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item nav-link"
                            href="{% url 'add_category' %}">
                            Add a New Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link"
                            href="{% url 'auth_logout' %}?next=/">Logout</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link"
                                href="{% url 'registration_register' %}">
                                Register Here</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link"
                                href="{% url 'auth_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
            </div>
        </nav>

        <div class="row">
        <div class="col-md-8">
        <div class="container-fluid" id="index-jumbotrons">
            <div class="col-md-12">
                {% block body_block %}{% endblock %}
            </div>

        </div>
        </div>

        <div class="col-md-4">
        <div class="sidebar-offcanvas" id="sidebar">
            <div class="find-resource-group">
                <h2>Find new Categories</h2>
                <form method="POST" action="/resourcy/find_category/">
                    <input name="subreddit" id="subreddit_name" placeholder="Enter a subreddit" />
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Search" />
                </form>
            </div>

            <div class="sidebar-categories">
                <h3>All Categories</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        {% block sidebar_block %}
                            {% get_category_list category %}
                        {% endblock %}
                    </li>
                </ul>
            </div>
        </div>
        </div>
        </div>
        <!--</div>
        </div>-->

        <!-- Bootstrap core JavaScript
            ===================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
            </script>
            <script
                src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js">
            </script>
            <script
                src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js">
            </script>
    </body>
</html>

