#sidebar {
    position: relative;
    padding: 0 15px 0 15px;
    top: 0;
    right: 0;
    margin-top: 20px;
}

#index-jumbotron {
    margin-top: 20px;
    width: 80%;
    float: left;
}

#index-jumbotrons {
    margin-top: 20px;
    width: 100%;
    float: left;
}

.find-resource-group {
    top: 10;
    right: 10;
}

.sidebar-categories {
    margin-top: 10px;
}

.wide {
    width: 100%;
}

.navbar-toggler {
    margin-left: -20px;
}

.navbar-brand {
    margin-left: 15px;
}

.bg-inverse {
    background-color: #00004c !important;
}

.btn {
    background-color: #1A1A5E;
    color: #fff !important;
}

a:link {
    color: #1A1A5E;
}

a:hover {
    color: #0000EE;
}

.add_page_width {
    width: 80%;
}
