#sidebar {
    position: fixed;
    padding: 50px;
    top: 0;
    right: 0;
    margin-top: 20px;
}

#index-jumbotron {
    margin-top: 20px;
    width: 80%;
    float: left;
}

.find-resource-group {
    top: 10;
    right: 10;
}

.sidebar-categories {
    margin-top: 10px;
}

